  <form action="/movie/query" method="get">
    <input type="text" name="search" autofocus>
    <button>Go</button>
  </form>

  <div id="movie_result_box">
    <ul>
    <li>Title: <%= @title %></li>
    <p>
    <li>Year: <%= @year %></li>
    <p>
    <li>Title: <%= @title %></li>
    <p>
    <li>Rated: <%= @rated %></li>
    <p>
    <li>Director: <%= @director %></li>
    <p>
    <li>Plot: <%= @plot %></li>
  </ul>
</div>

 <div id="poster_box">
<img src="<%= @poster %>">
</div>
