<div id="form_box">
  <form action="/movie/query" method="get">
    <input type="text" name="search" autofocus>
    <button>Go</button>
  </form>
</div>

<div id="result_box">
  <ul>
    <li>Title: <%= @title %></li>
    <li>Year: <%= @year %></li>
    <li>Title: <%= @title %></li>
    <li>Rated: <%= @rated %></li>
    <li>Director: <%= @director %></li>
    <li>Plot: <%= @plot %></li>
  </ul>
</div>

<div id="poster_box">
  <img src="<%= @poster %>">
</div>
