<% if @b.present? %>

    <ul>
    <li>Title: <%= @title %></li>
    <p>
    <li>Year: <%= @year %></li>
    <p>
    <li>Title: <%= @title %></li>
    <p>
    <li>Rated: <%= @rated %></li>
    <p>
    <li>Director: <%= @director %></li>
    <p>
    <li>Plot: <%= @plot %></li>
  </ul>
  </div>
</div>


<img src="<%= @poster %>"

<% end %>